

<div>

    {{#each posts as |post|}}

        <article>
            
            <h1>{{post.title}}</h1>
            <h4>{{ post.created_at}}</h4>


            <p>{{post.content}}</p>
            

        </article>

    {{/each}}


</div>