

{{!-- individual post page --}}


        <article>
            
            <h1>{{post.title}}</h1>
            <h4>Created at: {{ format_date post.createdAt}}</h4>
            <h4>By: {{ post.user.email }}</h4>

            <p>{{post.content}}</p>
            

        </article>

        <section>

            {{!-- comments --}}

        </section>